*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    line-height: 2.2rem;
}

p,
a,
button {
    line-height: 2.2rem;
}

.header {
    background: linear-gradient(29deg, #00837d, #2bc7ad);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 16vh;
    padding: 0 2%;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;
}

.header_nav {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_nav li {
    list-style-type: none;
    margin-left: 20px; 
}

.header_nav li a {
    padding: 10px 20px; 
    background: #000000;
    color: #f7f7f7;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; 
}

.header_nav li a:hover {
    background: #adadad; 
}


.header__title{
    color: #f7f7f7;
    background: #000000;
    border-radius: 5px;
    padding: 15px;
}

.header__title h1{
    font-weight: 500;
}

.header__sub li {
    list-style-type: none;
}

button{
    padding: 1px 10px;
    border-radius: 20px;
    background-color: white;
}

.main{
    background-image: url(../WEB_GRUPO_MUSICAL/IMAGENES/fondo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
    width: 100%;
    height: 67vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-bottom: 8vh;
}

.main * {
    font-size: 30px;
}

.section-1 {
    font-family: Press Start\ 2P,monospace;
    min-height: 80vh;
    display: grid;
    background-color: rgba(240, 240, 240, 0.7); 
    margin: 110px 110px;
    border-radius: 10px;
}

.section-1__container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.section-1__container h1 {
    margin-bottom: 110px; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.section-1__container p {
    width: 90%; 
    color: #000000;
    text-align: justify;
    padding: 15px;
}

.section-1__container table {
    margin: 0 auto;
    height: auto;
    width: 80%;
    padding: 5px 30px;
    text-align: left;
}

.section-1__container table tr {
    height: auto;
}

.section-1__container table img {
    width: 350px;
}

.section-1__container table strong {
    font-weight: bold;
    text-decoration: underline;
}

.section-1__container button:hover {
    background: #adadad;
}

.section-1__container table td {
    text-align: left;
}

.audio {
    padding: 40px;
}

.row-1, .row-2, .row-3{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    flex-direction: row;

    flex-wrap:nowrap;

    width: 100%;
     
}

.row-1 div, .row-2 div , .row-3 div{
    width: 25%;
    padding: 2%;
}

.row-1 div img, .row-2 div img, .row-3 div img{
    width: 100%;
    object-fit: contain;
}

.footer {
    background: linear-gradient(29deg, #00837d, #2bc7ad);
    height: 8vh;
    padding: 5px;
    margin-top: auto;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.footer__container p {
    padding: 0 0.5%;
    
}

.footer__sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 25%;
}

.sub__web{
    display: flex;
    font-weight: bolder;
    width: 70%;
}

.sub__web a {
    padding: 6px 20px;
    background: #000000;
    color: #f7f7f7;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
}

.sub__web a:hover {
    background: #adadad; 
}

.sub__container_img{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.container__img a img {
    width: 100%;
    height: 10vh;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.sub__container_img div{
    width: 17%;
    height: 40%;
    padding: 5% 2% 2% 2%;
}

.sub__container_img div img{
    width: 100%;
    object-fit: contain;
}


::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #2bc7ad
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  body::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}
  