*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    line-height: 2.2rem;
}

p,
a,
button {
    font-size: 1rem;
    line-height: 2.2rem;
}

.header {
    background: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    padding: 0 2%;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60%;
}

.header__title {
    color: #f7f7f7;
    background: #000000;
    padding: 1%;
}

.header__title h1 {
    font-weight: 500;
}

.header_nav {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_nav li {
    list-style-type: none;
    margin-left: 20px; 
}

.header_nav li a {
    padding: 10px 20px; 
    background: #000000;
    color: #f7f7f7;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; 
}

.header_nav li a:hover {
    background: #124141; 
}


.header__title{
    color: #f7f7f7;
    background: #000000;

    padding: 1%;
}

.header__title h1{
    font-weight: 500;
}

.header__sub li {
    list-style-type: none;
}

.button a {
    font-style: italic;
    font-weight: bolder;
    text-decoration: none;
    color: #000000
}

button:hover{
    background: #adadad;
}

button{
    padding: 1px 10px;
    border-radius: 20px;
    background-color: white;
}

.sub__container_img{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;

}

.main{
    background: #000000;

    width: 100%;
    height: 70vh;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.section-1 {
    width: 100%;
    min-height: 80vh;
    display: grid;
    background-color: #f0f0f0; 
    margin: 20px 0px; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.section-1__container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.section-1__container h1 {
    color: cyan;
    margin-bottom: 10px; 
}

.section-1__container p {
    width: 100%; 
    margin-bottom: 15px; 
}

.section-1__container button {
    padding: 10px 20px; 
    background: #1c6161;
    border: none;
    color: #f7f7f7;
    text-decoration: none;
    border-radius: 5px;
}

.section-1__container button:hover {
    background: #124141;
}

.row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    flex-direction: row;

    flex-wrap:nowrap;

    width: 100%;
     
}

.row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    flex-direction: row;

    flex-wrap:nowrap;

    width: 100%;
      
}

.row-1 div, .row-2 div {
    width: 25%;
    padding: 2%;
}

.row-1 div img, .row-2 div img{
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.section-1__container h1{
    color:cyan;
    
}

.section-1__container p{
    width: 50%;
}

.section-1__container button{
    padding: 0 2%;
    width: fit-content;
    height: fit-content;

    background: #1c6161;

    border: none;
    color: #f7f7f7;

    text-decoration: none;
}

.footer {
    background: #3d3d3d;

    width: 100%;
    height: 10vh;

    padding: 2%;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.footer__container p {
    padding: 0 0.5%;
    
}

.footer__sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 25%;
}

.sub__web{
    display: flex;
    font-weight: bolder;
    width: 70%;
}

.container__img a img {
    width: 100%;
    height: 10vh;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.sub__container_img div{
    width: 17%;
    height: 40%;
    padding: 5% 2% 2% 2%;
}

.sub__container_img div img{
    width: 100%;
    object-fit: contain;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3d3d3d;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

  body::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}
  